/* .magazine-wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 100px;
}

.magazine-book {
  background-color: aliceblue;
  width: 100%;
  max-width: 100%;
  height: 700px;
  cursor: grab;
}
 */


.magazine-wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background: #fff;
}

.magazine-book {
  width: 100%;
  max-width: 900px;
  height: 720px;
  cursor: grab;
}

/* Tablet */
@media (max-width: 1024px) {
  .magazine-book {
    height: 620px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .magazine-wrapper {
    padding: 40px 0;
  }

  .magazine-book {
    width: 90%;
    height: 220px;
  }
}

