.home-aboutus-section{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: azure; */
}
.home-aboutus-container-left{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
 
.frame-player {
    width: 90%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}       

.home-aboutus-container-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
}
.home-aboutus-container-right p{
    margin-left: 10%;
    width: 70%;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}