.home-seven-outer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-seven {
  width: 1800px;
  padding: 100px;
  background: #ffffff;
  /* background-color: rgb(201, 187, 187); */
}

/* Left aligned heading */
.home-seven-heading {
  letter-spacing: 2px;
 font-size: 65px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  /* color: white; */
}

/* Layout */
.home-seven-content {
  /* padding: 0px 8%; */
  display: flex;
  gap: 50px;
  align-items: flex-start;
  justify-content: center;
}

/* Left image */
.home-seven-left {
  flex: 70%;
  /* position: sticky; */
  top: 100px; /* controls where it sticks */
  align-self: flex-start;
}

.home-seven-left img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border-radius: 14px; */
}

/* Right content */
.home-seven-right {
  width: 30%;
}

.right-main-heading {
  font-size: 40px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.6);
  /* color: white; */
  /* text-transform: uppercase; */
}

.right-desc {
  font-size: 15px;
  line-height: 1.7;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  /* color: white; */
  margin-bottom: 10px;
}

.right-sub-heading {
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

/* Stats - column wise */
.home-seven-stats {
  display: grid;
  grid-template-columns: repeat(2, 300px); /* 2 equal columns */
  gap: 60px 0px; /* row-gap | column-gap */
  color: rgba(0, 0, 0, 1);
}

.stat-row {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0px;
  color: rgba(0, 0, 0, 1);
}

.stat-row span {
  font-size: 60px;
  font-weight: 600;
  min-width: 90px;
  color: rgba(0, 0, 0, 0.4);
}

.stat-row p {
  font-size: 18px;
  /* color: white; */
  color: rgba(0, 0, 0, 1);
}

/* Responsive */
@media (max-width: 900px) {
  .home-seven-content {
    flex-direction: column;
  }

  .home-seven-left img {
    height: 300px;
  }
}
