.home-six-section-h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.301);
}
.home-six-section {
  margin-bottom: 60px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home-six-first-container {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home-six-first-container1 {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.home-six-first-container1 p {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.45), 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: rgba(68, 67, 67, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-six-first-container1:hover p {
  opacity: 1;
}
.home-six-first-container1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom 5% left;
}

.home-six-first-container2 {
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home-six-first-container21,
.home-six-first-container22 {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
  position: relative;
  cursor: pointer;
}
.home-six-first-container21 P,
.home-six-first-container22 P {
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.45), 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: rgba(68, 67, 67, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-six-first-container21:hover p,
.home-six-first-container22:hover p {
  opacity: 1;
}

.home-six-first-container21 img,
.home-six-first-container22 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top left;
}
.home-six-second-container {
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home-six-second-container1,
.home-six-second-container2 {
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
  position: relative;
  cursor: pointer;
}
.home-six-second-container1 p,
.home-six-second-container2 p {
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.45), 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: rgba(68, 67, 67, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-six-second-container1:hover p,
.home-six-second-container2:hover p {
  opacity: 1;
}

.home-six-second-container1 img,
.home-six-second-container2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top left;
}

.home-six-first-container1 p,
.home-six-first-container21 p,
.home-six-first-container22 p,
.home-six-second-container1 p,
.home-six-second-container2 p {
  background-color: rgba(0, 0, 0, 0.774);
  z-index: 2; /* ensure <p> is above image */
}

.home-six-first-container1 img,
.home-six-first-container21 img,
.home-six-first-container22 img,
.home-six-second-container1 img,
.home-six-second-container2 img {
  z-index: 1; /* image below */
}

@media (max-width: 768px) {
  .home-six-section-h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    height: 60px;
  }

  .home-six-section {
    margin-bottom: 30px;
    height: auto;
    width: 100%;
    gap: 10px;
  }
  .home-six-first-container {
    width: 55%;
    height: 400px;
    gap: 10px;
  }
  .home-six-first-container1 {
    width: 100%;
    height: 60%;
  }
  .home-six-second-container {
    width: 40%;
    height: 400px;
    gap: 20px;
  }
  .home-six-first-container2 {
    gap: 10px;
  }
  .home-six-first-container1 p,
  .home-six-first-container21 p,
  .home-six-first-container22 p,
  .home-six-second-container1 p,
  .home-six-second-container2 p {
    font-size: 10px;
  }
}

/* INITIAL STATE */
.home-six-section img {
  opacity: 0;
  transform: translateY(40px) scale(0.85);
  transition:
    opacity 0.8s ease,
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

/* ACTIVE STATE */
.home-six-section.animate img {
  opacity: 1;
  transform: translateY(0) scale(1);
}