.home-fouth-section-outer {
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  background-color: aqua;
}
.home-fouth-section {
  height: 100vh; 
  width: 1900px;
  overflow: hidden;
}
.home-fouth-section-div {
  position: absolute;
  right: 100px;
  top: 50%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.home-fouth-section-div span {
  font-size: 60px;
  color: rgba(0, 0, 0, 0.308);
  font-weight: bold;
}
.home-fouth-media1 {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  width: 480px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.301);
}
.home-fouth-media2 {
  position: absolute;
  left: 700px;
  top: 50%;
  transform: translateY(-50%);
  width: 480px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(157, 100, 211);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.301);
}
.home-fouth-media2 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.home-fouth-media2 video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.home-fouth-media1 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.home-fouth-media1 video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .home-fouth-section {
    height: 100%;
    width: 1200px;
  }
  .home-fouth-media1 {
    width: 300px;
    height: 400px;
  }
  .home-fouth-media2 {
    transform: translateY(-50%);
    left: 40%;
    width: 300px;
    height: 400px;
  }
  .home-fouth-section-div span {
    font-size: 40px;
  }
  .home-fouth-section-div {
    position: absolute;
    right: 100px;
    top: 50%;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
}

@media screen and (max-width: 1200px) {
  .home-fouth-section-outer {
    height: auto;
    padding: 50px 0px;
  }
  .home-fouth-section {
    height: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 50px;
  }

  .home-fouth-section-div {
    position: static;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .home-fouth-section-div span {
    font-size: 6vw;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
  }
  .home-fouth-media1 {
    position: static;
    transform: translateY(0%);
    width: 100%;
    height: auto;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: none;
  }
  .home-fouth-media2 {
    display: none;
  }
}
