.home-second-section-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.home-second-section {
  height: 100%;
  width: 1900px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.home-second-section-heading {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 200px;
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: 1000;
}
.home-second-cards {
  display: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-shrink: none;
  height: 200px;
  width: 350px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  z-index: 0;
}
.home-second-cards p {
  color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-weight: bold;
  font-size: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.home-second-cards1 {
  display: flex;
  position: absolute;
  top: -250px;
  left: 100px;
}
.home-second-cards2 {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -350px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.home-second-cards3 {
  display: flex;
  position: absolute;
  bottom: -250px;
  left: 50px;
}
.home-second-cards4 {
  display: flex;
  position: absolute;
  top: -250px;
  right: 100px;
}
.home-second-cards5 {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -350px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.home-second-cards6 {
  display: flex;
  position: absolute;
  bottom: -250px;
  right: 50px;
}
@media (max-width: 750px) {
  .home-second-section-main {
    height: 100vh;
  }
  .home-second-section-heading {
    font-size: 100px;
    text-transform: uppercase;
    line-height: 0.9;
  }
  .home-second-cards {
    height: 120px;
    width: 200px;
  }
  .home-second-cards1 {
    top: -130px;
    left: -150px;
  }
  .home-second-cards2 {
    left: -200px;
  }
  .home-second-cards3 {
    bottom: -130px;
    left: -150px;
  }
  .home-second-cards4 {
    top: -130px;
    right: -150px;
  }
  .home-second-cards5 {
    right: -200px;
  }
  .home-second-cards6 {
    bottom: -130px;
    right: -150px;
  }
  .home-second-cards p {
    font-size: 20px;
  }
}
