html{
scroll-behavior:smooth;
}

/* PAGE */

.blog-page{
background:#fff;
padding:80px 20px;
}

/* CONTAINER */

.blog-container{
max-width:900px;
margin:auto;
font-size:18px;
line-height:1.7;
color:#333;
}

/* HEADER */

.blog-header{
margin-bottom:30px;
}

.blog-header h1{
font-size:40px;
line-height:1.3;
margin-bottom:10px;
}

.blog-meta{
display:flex;
gap:20px;
color:#777;
font-size:14px;
}

/* HEADINGS */

.blog-container h2{
margin-top:45px;
font-size:28px;
}

.blog-container h3{
margin-top:25px;
font-size:22px;
}

.blog-container h4{
margin-top:20px;
font-size:18px;
}

/* LIST */

.blog-container ul{
padding-left:20px;
margin-top:10px;
}

/* TABLE */

.blog-table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

.blog-table th,
.blog-table td{
border:1px solid #eee;
padding:12px;
}

.blog-table th{
background:#f6f6f6;
}

/* TABLE OF CONTENT */

.toc{
background:#f8f8f8;
padding:22px;
border-radius:10px;
margin:30px 0;
}

.toc h3{
margin-bottom:10px;
}

.toc ul{
list-style:none;
padding:0;
}

.toc li{
margin:8px 0;
}

.toc a{
text-decoration:none;
color:#17b9a9;
font-weight:500;
}

.toc a:hover{
text-decoration:underline;
}

/* MOBILE */

@media(max-width:768px){

.blog-header h1{
font-size:30px;
}

.blog-container{
font-size:16px;
}

}

.blog-container h2,
.blog-container h3 {
  scroll-margin-top: 120px; /* adjust based on navbar height */
}